<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Develop components</title>
  </head>
  <header></header>
  <body>
    <main>
      <div class="tabs_component container">
        <ul class="tabs_links">
          <li class="active">item 1</li>
          <li>item 2</li>
          <li>item 3</li>
        </ul>
        <div class="container_tabs_content">
          <div class="tabs_content container active">
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
            <h5>Contenido Tab 1</h5>
          </div>
          <div class="tabs_content container"><h5>Contenido Tab 2</h5></div>
          <div class="tabs_content container"><h5>Contenido Tab 3</h5></div>
        </div>
      </div>
    </main>
    <footer></footer>
    <script src="app.js"></script>
  </body>
</html>
