<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Develop components</title>
  </head>
  <header></header>
  <body>
    <main>
      <button class="btn_active_modal">Abrir modal</button>
      <dialog id="course_delete_modal" class="modal_window">
        <h3 class="text_modal">¿Eliminar?</h3>
        <p>¿Estas seguro que deseas eliminar esta seccion/clase?</p>
        <div class="btns_modal">
          <button class="btn_modal">Cancelar</button>
          <button type="submit" class="btn_modal">Eliminar</button>
        </div>
      </dialog>
    </main>
    <footer></footer>
    <script src="app.js"></script>
  </body>
</html>
